<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>College Lister</title>
</head>
<body>
    <header id="SiteName"><h1>College Lister</h1></header>
    <div class="book">
        <input type="checkbox" id="c1">
        <input type="checkbox" id="c2">
        <input type="checkbox" id="c3">
        <div id="cover"><img src="2.png"></div>
        <div class="flip-book">
        <div class="flip" id="p1">
        <div class="back">
        <img src="1.png">
        <label class="back-btn" for="c1">Back</label>
        </div>
        <div class="front">
        <h2>Why?</h2>
        <p>We noticed a lack of centralised platform for students to search and discover colleges. 
            When searching for colleges, students are bombarded with advertisments, making it difficult for them 
            to make well informed decision about their education.
        </p> 
        <label class="next-btn" for="c1">Next</label>
            </div>
        </div>
        <div class="flip" id="p2">
        <div class="back">
        <img src="2.png">
        <label class="back-btn" for="c2">Back</label>
        </div>
        <div class="front">
        <h2>Our Solution</h2>
        <p>We, at College Lister believe knowledge is power.We want to help the students find the best college
            for them, without any distractions. We have no advertisments and no motive to 
            push you into choosing a college. We simply show you a list of colleges, and their ranking.
        </p>
        <label class="next-btn" for="c2">Next</label>
            </div>
        </div>
        
        <div class="flip" id="p3">
        <div class="back">
        <label class="back-btn" for="c3">Back</label>
        </div>
        <!-- <div class="front">
        <h2>Strawberry</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet architecto nam aliquam illum voluptatibus, eius, nobis ab aspernatur, dolore praesentium nesciunt laboriosam iste officiis voluptas unde maiores numquam voluptatem provident.laboriosam iste officiis voluptas unde maiores numquam voluptatem provident.laboriosam iste officiis voluptas</p>
        <label class="next-btn" for="c3">Next</label>
            </div> -->
        </div>
        </div>
        </div>
    <!-- <footer><img src="college lister.svg"></footer> -->
</body>
</html>