<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
     <script src="main.js"></script> 
    <title>College Lister</title>
</head>
<body>
    <header id="SiteName"><h1>College Lister</h1></header>
    <p id="center"><strong>"Invest in Education, Invest in Yourself."</strong></p>

    <p id="homepageIntro">Welcome to College Lister, your gateway to discovering the best colleges in India. 
        We take pride in providing you with an unparalleled college-search experience 
        that's completely ad-free. 
        Our mission is to empower you with a user-friendly platform that simplifies your search for 
        higher education institutions.<br>

    With College Lister, you're in control. 
        Our intuitive interface allows you to filter colleges by states, 
        ensuring you find the perfect match for your educational journey. 
        Say goodbye to intrusive ads and distractions; we're committed to delivering a 
        seamless and distraction-free experience, putting your needs at the forefront.<br>

    Explore our extensive database of colleges and universities, discover vital insights, 
        and make informed decisions about your future. College Lister is more than just a college directory; 
        it's your trusted companion on the path to academic success. 
        Join us today and experience the difference.<br></p>
    Here is a list of colleges across India arranged according to their ranks.<br>
    The rank of a college is determined by various factors, including but not limited to:<br>
    <ul>
        <li>
            TLR (Teaching-learning resources): define resources as materials used by a teacher to supplement classroom instruction or to stimulate the interest of learners in simple quality content delivered to students.
        </li>
        <li>
            RPC (Research and Professional Practice): developing knowledge and experience, which are standard within a field or profession, and involves information-gathering procedures that are a part of the typical relationship between practitioners.
        </li>
        <li>
            GO (graduation Outcome): to understand whether recent graduates are in employment, have continued with further study or are doing something else.
        </li>
        <li>
            OI (outreach and inclusivity): it contains the following factors the number of students from another state or countries, per cent of women, facility for physically challenged student.
        </li>
    </ul>
    <div class="college_buttons">
        <button id="itbutton">See all <strong>IT</strong> colleges</button>
        <button id="managementbutton">See all <strong>Management</strong> colleges</button>
    </div>
    <footer>
        <buttom id="aboutusbutton">Learn more about us</button>
    </footer>
</body>
</html>